<c-layouts.auth meta_title="Logout" page_title="Logout">
<form action="" method="post">
    {% csrf_token %}
    <p class="p-3 border rounded-lg bg-sky-100 border-sky-600 text-center">Are you sure you want to log out?</p>
    <div class="flex justify-center items-center">
        <div class="flex gap-4">
            <button class="px-3 py-2 rounded-lg border cursor-pointer bg-black text-white">Yes, logout.</button>
            <a href="{% url 'home' %}"
               class="px-3 py-2 rounded-lg border cursor-pointer bg-zinc-700 text-white">No, cancel.</a>
        </div>
    </div>
</form>
</c-layouts.auth>
