{% extends "account/layout.html" %}
{% block seo_title %}Logout{% endblock %}
{% block title %}Logout{% endblock %}
{% block content %}
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <form action="." method="post">
            {% csrf_token %}
            <p class="alert alert-info text-center">Are you sure you want to log out?</p>
            <div class="d-flex justify-content-center align-items-center">
                <button class="btn btn-primary me-2">Yes, logout.</button>
                <a href="/" class="btn btn-secondary">No, cancel.</a>
            </div>
        </form>
    </div>
    <div class="col-lg-3"></div>
{% endblock %}
