{% extends "account/layout.html" %}
{% load crispy_forms_filters %}
{% block seo_title %}Reset password{% endblock %}
{% block title %}Reset password{% endblock %}
{% block content %}
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <form action="." method="post">
            {% csrf_token %}
            <p class="alert alert-info">
                Enter your email address below, and we'll send you
                instructions on how to reset your password.
            </p>
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary w-100">Reset password</button>
            <p class="text-center mt-3">
                Remembered your password? <a href="{% url "account_login" %}">Login here.</a>
            </p>
        </form>
    </div>
    <div class="col-lg-4"></div>
{% endblock %}
