<c-layouts.auth meta_title="Reset password" page_title="Reset password">
<form action="" method="post">
    {% csrf_token %}
    <p class="alert alert-info">
        Enter your email address below, and we'll send you
        instructions on how to reset your password.
    </p>
    <c-form :form="form" />
    <button type="submit" class="btn btn-primary w-full">Reset password</button>
    <p class="text-center mt-36">
        Remembered your password? <a href="{% url "account_login" %}">Login here.</a>
    </p>
</form>
</c-layouts.auth>
