{% extends "account/layout.html" %}
{% block seo_title %}Reset password{% endblock %}
{% block title %}Reset password{% endblock %}
{% block content %}
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <p class="alert alert-info text-center">
            We emailed you instructions to reset your password.
            <br>
            <br>
            Check your spam folder
            if you don't see it. Otherwise,
            contact us if you do not receive it in a few minutes.
        </p>
    </div>
    <div class="col-lg-3"></div>
{% endblock %}
