{% extends "account/layout.html" %}
{% load crispy_forms_filters %}
{% block seo_title %}
    Signup
{% endblock seo_title %}
{% block title %}
    Signup
{% endblock title %}
{% block content %}
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <form action="." method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-primary w-100 mb-4">Signup</button>
            <p class="text-center">
                Already have an account? <a href="{% url "account_login" %}">Login here.</a>
            </p>
        </form>
    </div>
    <div class="col-lg-4"></div>
{% endblock content %}
