{% extends "account/layout.html" %}
{% load crispy_forms_filters %}
{% load socialaccount %}
{% block seo_title %}
    Signup
{% endblock seo_title %}
{% block title %}
    Signup
{% endblock title %}
{% block content %}
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <a class="btn btn-outline-primary icon-btn w-100 mb-5"
        href="{% provider_login_url "google" %}">
         {% include "helpers/_bootstrap-svg.html" with icon_name="google" %}
         Continue with Google
        </a>
        <p class="text-center mb-5"><b>OR</b></p>
        <p class="text-center mb-4"><b>Signup with email</b></p>
        <form action="." method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-primary w-100 mb-4">Signup</button>
            <p class="text-center">
                Already have an account? <a href="{% url "account_login" %}">Login here.</a>
            </p>
        </form>
    </div>
    <div class="col-lg-4"></div>
{% endblock content %}
