{% extends "account/layout.html" %}
{% block seo_title %}
    Verify your E-mail Address
{% endblock seo_title %}
{% block title %}
    Verify your E-mail Address
{% endblock title %}
{% block content %}
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <p class="alert alert-info text-center">
            We have sent an e-mail to you for
            verification.
            <br>
            <br>
            Follow the link provided to finalize the signup process. If
            you
            do
            not see the verification e-mail in your main inbox, check your spam
            folder.
            <br>
            <br>
            Please
            contact us if you do not receive the verification e-mail within a few minutes.
        </p>
    </div>
    <div class="col-lg-3"></div>
{% endblock content %}
