[run]
source = .
omit =
    */static_collected/*
    */requirements/*
    */node_modules/*
    */docs/*
    */manage.py
    */htmlcov/*
    */apps.py
    */tests/*
    */tests.py
    */wsgi.py
    */asgi.py
    */urls.py
    */settings.py
    */settings_*.py
    */conftest.py
    */venv/*
    *migrations*
branch = True
plugins =
    django_coverage_plugin

[report]
show_missing = True
skip_covered = True
