<c-layouts.base meta_title="Update your profile">
<div class="container mt-20">
    <h1 class="mb-12">Update your profile</h1>
    <form class="mb-8" action="." method="post">
        {% csrf_token %}
        <c-form :form="form" />
        <button type="submit"
                class="px-3 py-2 rounded-lg border cursor-pointer bg-black text-white w-full">Save</button>
    </form>
    <a href="{% url "account_change_password" %}"
       class="px-3 py-2 rounded-lg border cursor-pointer bg-sky-700 text-white w-full mb-4">Change
    password</a>
    <a href="{% url "accounts:delete-user" %}"
       class="px-3 py-2 rounded-lg border cursor-pointer bg-red-100 text-white w-full">Delete
    account</a>
</div>
</c-layouts.base>
