{%- raw -%}{% extends "account/simple.html" %}

{% load i18n %}

{% block seo_title %}{% trans "Login failed" %}{% endblock %}

{% block headline %}
{% trans "Login failed" %}
{% endblock %}

{% block content %}
<p class="alert alert-danger">
    {% trans "An error occurred while attempting to login via your social network account." %}
</p>
<div class="d-flex justify-content-center">
    <a href="{% url "account_login" %}" class="btn btn-primary">Try again</a>
</div>
{% endblock %}{%- endraw -%}