{%- raw -%}{% extends "account/simple.html" %}

{% load i18n %}

{% block seo_title %}
    {% trans "Login cancelled" %}
{% endblock %}

{% block headline %}
    {% trans "Login cancelled" %}
{% endblock %}

{% block content %}
    <p class="alert alert-danger mb-5 text-center">{% trans "You cancelled the login process." %}</p>
    <div class="d-flex justify-content-center">
        <a href="{% url "account_login" %}" class="btn btn-primary btn-lg">Try again</a>
    </div>
{% endblock %}{%- endraw -%}