{% extends "error-layout.html" %}
{% block seo_title %}
    Server Error
{% endblock seo_title %}
{% block headline %}
    Server Error
{% endblock headline %}
{% block content %}
    <p class="text-center alert alert-danger mb-5">
        We encountered an error. Our team has already been notified and it should be resolved soon.
    </p>
    <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-primary btn-lg">Back to home</button>
    </div>
{% endblock content %}
