{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:'en' }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block seo_title %}{% endblock %} | Base django</title>
    <meta name="description" content="{% block seo_description %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Arsero Ltd">

    {% block css %}
        <link href="{% static 'css/main.min.css' %}" rel="stylesheet">
    {% endblock %}

    {% include 'partials/_head-styles.html' %}

</head>

<body>

<div class="container">

    {% block flash_messages %}
        {% include 'partials/_flash-messages.html' %}
    {% endblock %}

</div>

{% block layout %}{% endblock %}

{% block modal %}{% endblock %}

{% block toasts %}
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="paymentCancelledToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">Payment cancelled</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Your payment has been cancelled.
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.min.js' %}"></script>
{% endblock %}

<script>

    document.addEventListener("DOMContentLoaded", function () {
        {% block onbodyload %}
            app.main.init();
        {% endblock %}
    })

</script>

</body>
</html>