{%- raw -%}
{% extends "account/simple.html" %}

{% load i18n %}
{% load crispy_forms_filters %}
{% load allcaptcha_tags %}


{% block seo_title %}{% trans "Log in" %}{% endblock %}

{% block headline %}
    {% trans "Log in" %}
{% endblock %}

{% block content %}

    {% include "account/_social-buttons.html" %}

    <form method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <button class="btn btn-lg btn-primary d-block mb-2 w-100 {% get_challenge_class %}"
                type="button" data-sitekey="{% get_site_key %}" data-callback="{% get_callback_name %}">{% trans "Continue with Email" %}</button>
        <div class="d-flex justify-content-center">
            <a class="text-center" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        </div>
    </form>

{% endblock %}

{% block js %}
    {{ block.super }}
    {{ form.media.js }}
{% endblock %}
{%- endraw -%}