{%- raw -%}
{% extends "account/simple.html" %}

{% load i18n %}
{% load account %}

{% block seo_title %}{% trans "Password Reset" %}{% endblock %}

{% block headline %}
{% trans "Password Reset" %}
{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}Check your email for instructions on how to reset your password.<br><br> Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
{% endblock %}
{%- endraw -%}