{%- raw -%}
{% extends "account/simple.html" %}
{% load crispy_forms_filters %}

{% load i18n %}

{% block seo_title %}{% trans "Change Password" %}{% endblock %}

{% block headline %}
{% trans "Change Password" %}
{% endblock %}

{% block content %}
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action=".">
                {% csrf_token %}
                {{ form|crispy }}
                <button
                        class="btn btn-primary btn-lg w-100 h-captcha"
                        data-sitekey="{{ captcha_site_key }}"
                        type="button"
                        name="action" data-callback="onHcaptchaSubmit">{% trans 'Change password' %}</button>
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}

{% block js %}
    {{ block.super }}
    {% include 'partials/_hcaptcha-js.html' %}
{% endblock %}
{%- endraw -%}