{%- raw -%}{% load url_tags %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">{%- endraw -%}{{ cookiecutter.project_name }}{%- raw -%}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "account_logout" %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        {% url "account_login" as login_url %}
                        <a href="{{ login_url }}" class="nav-link {{ request|active_url:login_url }}">Login</a>
                    </li>
                    {% if allow_registration %}
                        <li class="nav-item">
                            {% url "account_signup" as signup_url %}
                            <a class="nav-link btn btn-success text-light {{ request|active_url:signup_url }}"
                               href="{{ signup_url }}">Sign up</a>
                        </li>

                    {% endif %}

                {% endif %}

            </ul>
        </div>
    </div>
</nav>{%- endraw -%}